/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin-top: -10px;
    margin-left:-10px;
    margin-right: -20px;
  }

  body.index{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 750px;
  }

  /* styling the about us background */
  body.aboutus{
    background-image: url(images/aboutbg.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 750px;
  }
  
  /* styling the gallery background */
  body.gallerybg{
    background-image: url(images/menuuuuuu.png);
    background-repeat: repeat;
  }

  /* styling the our chef's background */
  body.chefsbg{
    background-image: url(images/cheffbg.jpg);
    background-repeat: repeat;
  }


  /* styling the menu background */
  body.menupage{
    background-image: url(images/gallerybg.jpg);
    background-repeat: repeat;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  

/* main body styling */
  .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
  }

  .main .men_text h1{
    font-size: 70px;
    position: relative;
    top: -90px;
    left: -400px;
    color: #E4DE0D;
}

.main .men_text h1 span{
    margin-left: 15px;
    color: red;
    font-family: mv boli;
    line-height: 22px;
    font-size: 80px;
}

/* main page paragraph styling */
p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
    top: 10px;
    color: white;
    font-size: 17px;
    font-family: 'Courier New, monospace';
}

/* order now button styling */
.main_btn{
    background: red;
    position: relative;
    left: 123px;
    bottom: -20px;
    width: 100px;
    cursor: pointer;
    padding: 12px 25px;
}

 /* main button text styling */
 .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
}

/*About*/

.about{
    margin-left: 600px;
    font-size: 35px;
}
/* about us page paragraph styling */
.about_text p{
    font-size: 17px;
    text-align: justify;
    margin-left: 90px;
    margin-top: -10px;
}

/* welcome to amyore styling yahan hua hai */
.about_text h2{
    font-size: 30px;
    margin-left: 235px;
    color: #E495E8;
}

/* why choose us ka styling yahan hua hai */
.about_text h3{
    margin-left: 230px;
    color:#E3F907;
}

/* about us heading ka design + style yahan krne ka */
.about_text h1{
    margin-left: 265px;
    color: #E495E8;
}

/* about ka font change yahan krne ka */
.about_text h1 span{
    font-family: mv boli;
    color: #FF0000;
}
.about_btn{
    background: #2836E5;
    text-decoration: none;
    margin-left: 280px;
    color: white;
    font-size: 30px;
    position: relative;
    padding: 6px 6px;
}

/* menu styling is here */


.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #68e30f;
    margin-left: 15px;
    font-family: mv boli;
    text-decoration: none;
}


.menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu_image:hover img{
    transform: scale(1.1);
}

.small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.small_card i:hover{
    color: #2836E5;
}

.menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #2836E5;
}

.menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu_icon{
    color: #2836E5;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}




/*Gallary*/

.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #2836E5;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #2836E5;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #5DEE0A;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #EE5A0A;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}



/*Review*/

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: #2836E5;
    font-family: mv boli;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #2836E5;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review_box .review_card{
    width: 25%;
    height: 75%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text p{
    /* text-align: center;
    line-height: 22px;
    transition: 0.3s;
    color: #000;
    margin-left: -120px;
    box-sizing: border-box; */

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #000;
    box-sizing: content-box;
    text-align: center;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 2px;
}



/*chef*/

.team{
    width: 100%;
    height: 90vh;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span{
    color: #8d3709;
    margin-left: 15px;
    font-family: mv boli;
    
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #e311ab;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin-left: -80px;
    color: #000;
    margin-top: -10px;
}



